<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".AdbProvisioningActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".InputProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.CodeXCommander" />
    </application>
</manifest>
